@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --selection-bg-dark: hsl(191, 79%, 36%);
  --selection-text-dark: hsl(0, 0%, 100%);
}

::selection {
  background-color: var(--selection-bg-dark);
  color: var(--selection-text-dark);
}

@layer base {
  * {
    @apply scroll-smooth;
  }
  html {
    @apply bg-ternary-dark;
  }
}

@layer components {
}

@layer font {
  /* Noto Sans JP */
  @font-face {
    font-family: 'Noto Sans JP';
    src: url('/fonts/google-fonts/noto-sans-jp/NotoSansJP-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
  }

  .font-noto-sans-jp {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
  }

  /* Kosugi Maru */
  @font-face {
    font-family: 'Kosugi Maru';
    src: url('/fonts/google-fonts/kosugi-maru/KosugiMaru-Regular.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
  }

  .font-kosugi-maru {
    font-family: 'Kosugi Maru', sans-serif;
    font-style: normal;
  }

  /* ちはやゴシック */
  @font-face {
    font-family: 'Chihaya Gothic';
    src: url('/fonts/chihayagothic/ちはやゴシック.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
  }

  .font-chihayagothic {
    font-family: 'Chihaya Gothic';
  }
}
